<div class="container-login" [class.active]="isRegistering">
  <div class="account-access sign-in" *ngIf="!isRegistering">
    <form class="form-class" (submit)="onLogin($event)">
      <h2 class="h-two-class">Login</h2>
      <div class="social-icons-class">
        <a href="#" class="icon-class"><i class="fab fa-google"></i></a>
        <a href="#" class="icon-class"><i class="fab fa-facebook-f"></i></a>
      </div>
      <span>Ou entre com e-mail e senha: </span>
      <input type="email" [(ngModel)]="loginEmail" name="loginEmail" placeholder="Email" required />
      <input type="password" [(ngModel)]="loginSenha" name="loginSenha" placeholder="Senha" required />
      <a href="#" class="forget-pass">Esqueceu a senha?</a>
      <button type="submit" class="button-class">Entrar</button>
      <p class="feedback" *ngIf="feedback">{{ feedback }}</p>
    </form>
  </div>

  <div class="account-access sign-up" *ngIf="isRegistering">
    <form class="form-class" (submit)="onRegister($event)">
      <h2 class="h-two-class">Criar uma Conta</h2>
      <div class="social-icons-class">
        <a href="#" class="icon-class"><i class="fab fa-google"></i></a>
        <a href="#" class="icon-class"><i class="fab fa-facebook-f"></i></a>
      </div>
      <span>Ou registre-se com e-mail e senha: </span>
      <input type="text" [(ngModel)]="cadastroNome" name="cadastroNome" placeholder="Nome" required />
      <input type="email" [(ngModel)]="cadastroEmail" name="cadastroEmail" placeholder="Email" required />
      <input type="password" [(ngModel)]="cadastroSenha" name="cadastroSenha" placeholder="Senha" required />
      <button type="submit" class="button-class">Criar Conta</button>
      <p class="feedback" *ngIf="feedback">{{ feedback }}</p>
    </form>
  </div>

  <div class="toggle-container">
    <div class="toogle-msg">
      <div class="toggle-panel left-toggle" *ngIf="isRegistering">
        <h2 class="h-two-class">Bem-vindo de volta!</h2>
        <p>Faça login para usar as funcionalidades disponíveis!</p>
        <button class="hidden-class" (click)="toggle(false)">Login</button>
      </div>
      <div class="toggle-panel right-toggle" *ngIf="!isRegistering">
        <h2 class="h-two-class">Que bom te ver aqui!</h2>
        <p>Registre-se para ter acesso às funcionalidades disponíveis!</p>
        <button class="hidden-class" (click)="toggle(true)">Registrar-se</button>
      </div>
    </div>
  </div>
</div>
